body
{
  font-family: 'Quicksand';
}
.navv
{
  background-color: rgba(31, 18, 50, 0);
  height: 50px;
  color: white;
  z-index: 5;
}



.cont1
{
  width: 100%;
   background-repeat: no-repeat;
   background-size: 100% ;
}

.navbar-brand
{
  font-size: 20px;
  font-weight: 600;
}
.navbar-nav
{

  float: right;
  margin-left: 40%;

}

.navbar-nav > li
{
  padding-right:50px;
  font-size: 15px;

}

.box1
{
  background-size: 100% auto ;
  background-repeat: no-repeat;
}

/*.box1tile{
  margin-top: 10%;

}*/


@media screen and (max-width: 480px) {
    .box1 {
          background-size: auto 100%  ;
    }
}

#title
{
  color: white;
  text-align: center;
  font-size: 40px;
  /*height: 140px;*/
}

#para
{
  color: white;
  font-size: 20px;
  text-align: center;
  margin:0px 20% 0px 20%;
}

.content
{
  /*position: absolute;
  -margin-top: -25%;*/
}

.butt
{
  text-align: center;
}
#butt{
  background-image: linear-gradient( 127deg,rgb(247,97,161), rgb(140,27,171) );
  margin-top: 3%;
  padding: 5px 30px ;
  border-radius: 20px;
  border: 0px;
  color: white;
  text-align: center;
  font-size: 20px;
  /*border: solid rgb(247,97,161) 1px;*/
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.68);
  box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.3);


}

#butt:hover{
box-shadow: -1px 6px 7px rgba(0, 0, 0, 0.3);
text-decoration: underline;
}

.box2
{
  font-size: 20px;
}

.colu22
{
  margin-right: 10%;
}


.colu23
{
  margin-left: 10%;

}

#para2
{
  margin-left: 10%;
  margin-right: 10%;
}
.box3
{
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: white;

}

@media screen and (max-width: 480px) {
    .box3 {
          background-size: auto 100%  ;
    }
}
.container2
{
  margin-top: 10px;
}
.butt2{
  background-image: linear-gradient( 145deg,rgb(247,97,161), rgb(140,27,171) );
  margin-top: 3%;
  padding: 7px 20px ;
  border-radius: 20px;
  border: 0px;
  color: white;
  text-align: center;
  font-size: 15px;
  /*border: solid rgb(247,97,161) 1px;*/
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.68);
  box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.3);

  outline: 0px;
}

/*.container2
{
  display: flex;
}*/
.butt3
{
  border-width: 2px;
  border-color: rgb(247,97,161);
 border-style: solid;
 border-radius: 20px;
 padding: 5px 20px ;
 font-size: 15px;
 color: white;
}


.btnn {

    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
  }
/*.adobe {
    background: url('Assets/adobe.png')
    no-repeat;
    display: block;
}

.apple {
    background: url('Assets/Apple.png')
    no-repeat;
    display: block;
}

.hp {
    background: url('Assets/hp.png')
    no-repeat;
    display: block;
}

.microsoft {
    background: url('Assets/Microsoft.png')
    no-repeat;
    display: block;
}

.intel {
    background: url('Assets/Intel.png')
    no-repeat;
    display: block;
}*/

.icn.adobe {
    width: 81px;
    height: 70px;

}

.icn.apple {
    width: 60px;
    height: 70px;

}
.icn.hp {
    width: 70px;
    height: 70px;

}
.icn.microsoft {
    width: 324px;
    height: 70px;

}
.icn.intel {
    width: 106px;
    height: 70px;

}

 .trip li a {
    -ms-flex-item-align: center;
    align-self: center;
    text-decoration: none;
    color: #76766f;
    text-align: center;
    display: block;
    font-size: 1.1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-top: 10px;
}


.trip {
    background: #fff;
    display: table;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    margin-bottom: 2rem;
    margin-top: 3rem;
}

.trip ul {
    display: table;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/*.trip li:nth-child(1) {
    border-right: 1px solid #E8E8E8;
}*/

.trip li {
    padding: 0 3rem;
    display: table-cell;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.
ul li, ol li {
    list-style-type: none;
}



li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.icn
{
  filter: grayscale(100%);
-webkit-filter: grayscale(100%);
}

.icn:hover
{
  filter: grayscale(0%);
-webkit-filter: grayscale(0%);
}

.card
{
  outline: 0px;
    transition: all 0.3s ease-in-out;
box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25);
background-color: #fff;
border-top-right-radius: 4px;
border-top-left-radius: 4px;
border-bottom-left-radius: 80px;
border-bottom-right-radius: 80px;
position: relative;
width: 300px;
}

.card:hover{
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
top: -5px;
}
}
.box4
{
  margin-right:  15px;
  width: 80px;
    transition: all 0.3s ease-in-out;
    scroll-behavior: smooth;
}
h5
{
  font-size: 20px;
  font-weight: 600;
}

.col
{
  padding-bottom: 25px;
}
.box5 .col-sm a
{
  transition:all 0.475s linear;
-webkit-transition:all 0.475s linear;
-moz-transition:all 0.475s linear;
-o-transition:all 0.475s linear;
transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
-ms-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
-webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
-moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
-o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);


}

.box5 .col-sm img
{
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
}


.box5 .col-sm a:hover
{
  transform:rotate(0deg) scale(1.284) skew(0deg) translate(0px) ;
  -webkit-transform:rotate(0deg) scale(1.284) skew(0deg) translate(0px) ;
  -moz-transform:rotate(0deg) scale(1.284) skew(0deg) translate(0px) ;
  -o-transform:rotate(0deg) scale(1.284) skew(0deg) translate(0px) ;
  -ms-transform:rotate(0deg) scale(1.284) skew(0deg) translate(0px) ;
  filter: sepia(0.67) saturate(0.56) brightness(18%) contrast(86%);
  -webkit-filter: sepia(0.67) saturate(0.56) brightness(18%) contrast(86%);
  /*color: rgba(17,31,68,0.77);*/
}


/*.image {
  display: block;

}
 .container1
 {
  position: relative;
  width: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(17, 31, 68, 0.8);
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}*/



.container:hover .overlay {
  opacity: 1;
}

.navbar-light .navbar-brand {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(255,255,255,.9);
}

.box6
{

    background-repeat: no-repeat;
    background-size: 100% auto ;
    color: white;
}

@media screen and (max-width: 480px) {
    .box6 {
          background-size: auto 100%  ;
    }

}

@media screen and (max-width:480px)
{
  #inp
  {
    width: 200px;

  }

}
.form-control
{
width: 300px;
  border-radius: 15px;
  background: transparent;
  height: 35px;
/*  margin-left: 30%;*/
}

.subscribing
{
  text-align: center;
  vertical-align: middle;

}

#sub
{
  padding-left: 5%;
}
.boxmap
{
width: 100%;
height: 100%;
}

a:hover {
     color: #fff;
     text-decoration: none;
}

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

.footer a
{
  width: 100%;
  height: 100%;
}

.icn-f
{
  width: 23px;
  height: 37px;
  padding-left: 80%;
}

.footer
{
  background-color: rgb(11, 16, 58);
  width: 100%;
  height: 200px;
  color: white;
  position: absolute;
}
